.roadmap .wrapper{
    max-width: 800px;
    margin:0 auto;
}

.roadmap table{
    border:1px solid #ddd;
}
.roadmap table thead th{
    background-color: #f4fdfa;
    text-align: center;
}
.roadmap table tbody td:last-child{
    text-align: left;
}
.roadmap table .year{
    color: #d4d4d4;
}
.roadmap table .diff:nth-child(2n-1){
    background-color: #f4fdfa;
}
.roadmap table .diff:nth-child(2n){
    background-color: #f0f9f6;
}